@media screen and (min-width: 640px) and (max-width: 767px) {
    .custom-responsive{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .custom-flex{
        display: flex;
        flex-direction: column;
    }
}
