.shadow-bottom {
    box-shadow: 21px 26px 0px -11px rgba(19, 194, 101, 0.34);
    -webkit-box-shadow: 21px 26px 0px -11px rgba(19, 194, 101, 0.34);
    -moz-box-shadow: 21px 26px 0px -11px rgba(19, 194, 101, 0.34);
}