.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: #13C265 !important;
    border-color: #13C265 !important;
    color: #13C265 !important;
}
.ant-steps .ant-steps-item-process .ant-steps-item-icon:hover {
    background-color: #13C265 !important;
    border-color: #13C265 !important;
    color: #13C265 !important;
}
