.header {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-btn button {
    font-family: Fredoka;
    font-style: normal;
    line-height: normal;
    border: none;
    border-radius: 10px 10px 0px 10px;
    color: #fff;
    cursor: pointer;;
}