.header {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60%;
    background-color: transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.header-btn button {
    font-family: Fredoka;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 7px 42px;
    background-color: #13C265;
    border: none;
    border-radius: 10px 10px 0px 10px;
    color: #fff;
    cursor: pointer;
}