.hero_section {
    height: auto;
    position: relative;
}

.inner_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 195px;
    overflow-x: hidden;
    /* position: absolute; */
}

.hero-ring-img img {
    position: absolute;
    top: -16%;
    left: -1%;
}

.hero-ring-img .ring {
    top: -29%;
    left: 0;
}

.hero-ring-img .circle {
    top: 37%;
    left: 55%;
}

.hero-ring-img .second-circle {
    top: 12%;
    left: 94%;
}

.hero-ring-img .half-shape {
    left: 0%;
    top: -17%;
}

.hero-ring-img .car-img {
    left: 76%;
    top: 44%;
}

.right-container h2 {
    color: #000;
    font-family: Fredoka;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 42px;
}

.right-container span {
    color: #00DD68;
    font-family: Fredoka;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.right-container p {
    color: #000;
    font-family: K2D;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 80%;
    line-height: 1.4;
}

.left-container {
    margin-left: 67px;
}

