/* @media screen and (max-width: 640px) {
    .footer {
        width: 100% !important;
        height: auto !important;
        padding: unset !important;
        background-color: wheat;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 3rem;
    }
} */