* {
  margin: 0;
  padding: 0;
}

.box-shadow:hover {
  object-fit: cover;
  transition: 0.3s ease;
  cursor: pointer;
  transform: scale(1.2);
}

.font-formal{
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important
}
.font-stylish{
  font-family: 'Brush Script MT', cursive !important;
}

.img-height{
  height: 100px;
}

.PhoneInputInput:focus-visible{
    outline:none !important
}

 .customOTPclass{
     width:2rem !important
 }
.customeOTPclass:focus-visible{
    outline:none !important
}
.ant-btn-primary{
    background:#4096ff !important
}

.ant-tour-content{
    width : 20rem !important
}

.ant-tour{
    display: flex !important;
    justify-content: center !important
}
.ant-modal{
    width: max-content !important
}
