* {
  margin: 0;
  padding: 0;
}


.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow:hover {
  object-fit: cover;
  transition: 0.3s ease;
  cursor: pointer;
  transform: scale(1.2);
}

.now{
  display: flex;
  flex-direction: row;
  background-color: red;
}